<div class="bdi_modal-overlay"></div>
  <div id="bdi_popup" class="bdi_modal-box">
    
    <div id='popup_title' class='popup_title'>{{settings.bdi_popup_header_text | newline_to_br}}</div>
    <div id='popup_main'><p>{{settings.bdi_popup_main_text | newline_to_br}}</p></div>
    <div id='bdi_popup_url' class='popup_link-btn'></div>
    <a href="#" class="bdi_js-modal-close close">X Close</a>
  </div>