{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    {%comment%}<h1>{{ page.title }}</h1>{% endcomment %}

    <div class="rte">
      {{ page.content }}
      
      <div class="chocolate-style thankyou">
        <h1>Sign up success!</h1>
        
        <h2>Thank you for joining our mailing list.</h2>
        <br />
        
        <div class="clear-center-button"><a href="/"><button class="btn-new-sign-up-page">SHOP NOW</button></div></a>
        
      </div>
        
        
    </div>

  </div>

</div>
